header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 57px;
}

ul li a {
  text-decoration: none;
  color: #ff6060;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}
ul li a:hover {
  text-decoration: underline;
}
